---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=from:fl511_panhandl%20Escambia&tweet.fields=created_at
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Api-Version:
      - '2.60'
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Transaction-Id:
      - c3fd1039b16413e8
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Reset:
      - '1673283435'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '447'
      X-Response-Time:
      - '80'
      X-Connection-Hash:
      - 5d4d26c77ba2cfbea47487f56045e1cc0458e76db4b6306e1aef45c43052e6f7
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"created_at":"2023-01-08T23:52:09.000Z","text":"Cleared:
        Object on roadway in Escambia County on I-10 East, ramp to Exit 5 (US-90 Alt/Nine
        Mile Rd). Ramp blocked. Last updated at 06:06 PM.","id":"1612235741807140864","edit_history_tweet_ids":["1612235741807140864"]},{"created_at":"2023-01-08T23:06:58.000Z","text":"Object
        on roadway in Escambia County on I-10 East, ramp to Exit 5 (US-90 Alt/Nine
        Mile Rd). Ramp blocked. Last updated at 06:06 PM. https://t.co/2yYJbcgn8j","id":"1612224372202430468","edit_history_tweet_ids":["1612224372202430468"]},{"created_at":"2023-01-08T19:58:23.000Z","text":"Cleared:
        Object on roadway in Escambia County on I-10 East, at MM 11. Right lane blocked.
        Last updated at 02:32[...]
[...]
