---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=from:fl511_panhandl%20Escambia&tweet.fields=created_at
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Api-Version:
      - '2.60'
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Transaction-Id:
      - a9cba828570c355d
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Reset:
      - '1673114812'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '449'
      X-Response-Time:
      - '100'
      X-Connection-Hash:
      - cb2d2ec2f8db8c543517398aacf3c8949e52665f50c0c8067074c6dcf4185d6c
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"edit_history_tweet_ids":["1611272894998548483"],"id":"1611272894998548483","created_at":"2023-01-06T08:06:08.000Z","text":"Cleared:
        Planned construction in Escambia County on I-10 East, at MM 9. Left lane blocked.
        Last updated at 02:03 AM."},{"edit_history_tweet_ids":["1611257313595359233"],"id":"1611257313595359233","created_at":"2023-01-06T07:04:13.000Z","text":"Updated:
        Planned construction in Escambia County on I-10 East, at MM 9. Left lane blocked.
        Last updated at 02:03 AM. https://t.co/AhcOlE3GSa"},{"edit_history_tweet_ids":["1611240971492274178"],"id":"1611240971492274178","cr[...]
[...]
