---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/tweets/search/recent?max_results=20&query=from:fl511_panhandl%20Escambia&tweet.fields=created_at
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Api-Version:
      - '2.60'
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Transaction-Id:
      - 165b8b0f5cd91dfe
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Reset:
      - '1673041036'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '448'
      X-Response-Time:
      - '99'
      X-Connection-Hash:
      - 9aee8e423f9bed9bcf9196df9f7eb4dace305dd4becd36e83c19cef9c7308978
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1611272894998548483","edit_history_tweet_ids":["1611272894998548483"],"created_at":"2023-01-06T08:06:08.000Z","text":"Cleared:
        Planned construction in Escambia County on I-10 East, at MM 9. Left lane blocked.
        Last updated at 02:03 AM."},{"id":"1611257313595359233","edit_history_tweet_ids":["1611257313595359233"],"created_at":"2023-01-06T07:04:13.000Z","text":"Updated:
        Planned construction in Escambia County on I-10 East, at MM 9. Left lane blocked.
        Last updated at 02:03 AM. https://t.co/AhcOlE3GSa"},{"id":"1611240971492274178","edit_history_tweet_ids":["1611240971492274178"],"cr[...]
[...]
