---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts?zone=FLZ202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Tue, 03 Jan 2023 19:10:54 GMT
      X-Correlation-Id:
      - 5934550e
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 58154a39
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.86615ea6c56c2dc6d1ecfcb695f26d8802eda75d.001.1",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.86615ea6c56c2dc6d1ecfcb695f26d8802eda75d.001.1",
                        "@type": "wx:Alert",
                        "id": "urn:oid:2.49.0.1.840.0.86615ea6c56c2dc6d1ecfcb695f26d8802eda75d.001.1",
                        "areaDesc": "Mobile Coastal; Baldwin Coastal; Escambia Coastal; Santa Rosa Coastal; Okaloosa Coastal",
                        "geocode": {
                            "SAME": [
                                "001097",
                                "001003",
                                "012033",
                                "012113",
                                "012091"
                            ],
                            "UGC": [
                                "ALZ265",
                                "ALZ266",
                                "FLZ202",
                                "FLZ204",
                                "FLZ206"
                            ]
                        },
                        "affectedZones": [
                            "https://api.weather.gov/zones/forecast/ALZ265",
                            "https://api.weather.gov/zones/forecast/ALZ266",
                            "https://api.weather.gov/zones/forecast/FLZ202",
                            "https://api.weather.gov/zones/forecast/FLZ204",
                            "https://api.weather.gov/zones/forecast/FLZ206"
                        ],
                        "references": [],
                        "sent": "2023-01-03T13:09:00-06:00",
                        "effective": "2023-01-03T13:09:00-06:00",
                        "onset": "2023-01-03T13:09:00-06:00",
                        "expires": "2023-01-03T21:00:00-06:00",
                        "ends": "2023-01-04T18:00:00-06:00",
                        "status": "Actual",
                        "messageType": "Alert",
                        "category": "Met",
                        "severity": "Minor",
                        "certainty": "Likely",
                        "urgency": "Expected",
                        "event": "High Surf Advisory",
                        "sender": "w-nws.webmaster@noaa.gov",
                        "senderName": "NWS Mobile AL",
                        "headline": "High Surf Advisory issued January 3 at 1:09PM CST until January 4 at 6:00PM CST by NWS Mobile AL",
                        "description": "* WHAT...For the High Surf Advisory, large breaking waves of 4\nto 6 feet in the surf zone. For the High Rip Current Risk,\ndangerous rip currents.\n\n* WHERE...In Alabama, Mobile Coastal and Baldwin Coastal\nCounties. In Florida, Escambia Coastal, Santa Rosa Coastal and\nOkaloosa Coastal Counties.\n\n* WHEN...For the High Surf Advisory, until 6 PM CST Wednesday.\nFor the High Rip Current Risk, through late Wednesday night.\n\n* IMPACTS...Dangerous swimming and surfing conditions and\nlocalized beach erosion. Rip currents can sweep even the best\nswimmers away from shore into deeper water.",
                        "instruction": "Inexperienced swimmers should remain out of the water due to\ndangerous surf conditions.\n\nSwim near a lifeguard. If caught in a rip current, relax and\nfloat. Don't swim against the current. If able, swim in a\ndirection following the shoreline. If unable to escape, face the\nshore and call or wave for help.",
                        "response": "Avoid",
                        "parameters": {
                            "AWIPSidentifier": [
                                "CFWMOB"
                            ],
                            "WMOidentifier": [
                                "WHUS44 KMOB 031909"
                            ],
                            "NWSheadline": [
                                "HIGH SURF ADVISORY REMAINS IN EFFECT UNTIL 6 PM CST WEDNESDAY... ...HIGH RIP CURRENT RISK REMAINS IN EFFECT THROUGH LATE WEDNESDAY NIGHT"
                            ],
                            "BLOCKCHANNEL": [
                                "EAS",
                                "NWEM",
                                "CMAS"
                            ],
                            "VTEC": [
                                "/O.CON.KMOB.SU.Y.0001.000000T0000Z-230105T0000Z/"
                            ],
                            "eventEndingTime": [
                                "2023-01-05T00:00:00+00:00"
                            ],
                            "expiredReferences": [
                                "w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.056a25c887e02ed367ec88646f0e8b89b8bdeadc.001.1,2023-01-03T04:26:00-06:00 w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.251c3506ce63c1730a6ac75e2cef4ae5c8554912.001.2,2023-01-03T04:22:00-06:00 w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.10ae944c761ddefd9fba722c0b1fa374f1d0975d.001.1,2023-01-03T03:28:00-06:00 w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.8a0701dbc3b35f4a4c1575527c12fb1c235d9adf.001.1,2023-0[...]
[...]
